// Паутина
$color-primary-web: #B48D86;
$color-primary2-web: #ECC5BE;
$bg-web: #34302D;
$color-accent-web: #AFCA9A;
$color-additional-web: #966252;

// Весна
$color-primary-spring: #79A870;
$color-primary2-spring: #F69347;
$bg-spring: #C4D3D0;
$color-accent-spring: #EADB7C;
$color-additional-spring: #FAD9C2;

// Васильки
$color-primary-cornflowers: #1874A0;
$color-primary2-cornflowers:#E2D6CE;
$color-secondary-cornflowers: #8CAEC9;
$bg-cornflowers: #6D6D6E;
$bg-cornflowers2: #39434a;
$color-accent-cornflowers: #E3A061;

// Оттенки серого
$color-primary-gray: #ddd;
$color-primary2-gray:#E2D6CE;
$color-secondary-gray: #8CAEC9;
$bg-gray: #6D6D6E;
$color-accent-gray: #E3A061;


$color-white: #fff;
$color-gray: #d0d0d0;
$color-blue: #3057a2;

$color-logo: #595653;
$black-button: #1f1f1f;
$black-button-hover: #fbce51;
$color_dark: #151515;
$color_dot: #d9d9d9;
$bg-gallery: #ecdecb;
$bg-footer: #e9ded4;



