# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# сделать 
# Popup INFO-block - в dev возможность менять основной комментарий, например, "стандарт"
# стилизация Info-popup (PopupUserBlock)
# реализовать удаление комментария
# статус стандартных блоков выделить цветом...
# редактирование нового блока

# в dev - изменение стандартных блоков

# разобраться с классами popup popup-auth

# разобраться с максимальной высотой + dev 
# навести порядок с add-button
#см. blockDev  - убрать styled
# нерабочие  компоненты Card, accordion, contextMenu - удалить

# при переключении на 100% warehouse пропадает индикация поддона и адрес в context-menu


# доработать или переделать названия рядов в sections - warehouse +
# нужен store для данных по кликнутым place-поддонам, данные пропадают, если переключаться
# на полноэкранный режим и обратно. Можно изменить на вариант с классом, изменить сетку грид/
# проработать атрибут data-free на true и false 

# код в классе field__storage вынести в отдельный компонент

# новый, созданный поддон отправить в store

# useCallback и useMemo - оптимизировать код. статья в избранном react браузера