@import '../../assets/styles/config/colors';

.button {
	width: 12rem;	
	height: 5rem;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	font-size: 2rem;
	padding: 0 1.5rem;
	background-color: $bg-gray;
	color: white;
	display: flex;	
	align-items: center;
	justify-self: end;

	&__aside {
		max-width: 100%;
		justify-self: start;
	}

	&:hover {
		cursor: pointer;
	} 	

	&__opacity {
		opacity: 0;
	}

	&__save {
		width: 100%;
		margin-top: 22px;
		padding: 14px 0 11px 0;
		color: #fff;
		background-color: rgb(87, 42, 42);
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.22;
		transition: all 1s ease;
		border-radius: 2px;
		cursor: pointer;
		justify-content: center;
		border-radius: .5rem;

		&:hover {
			transition: all .2s ease;
			opacity: .8;
		}
	}
	&__aside-select {
		font-size: 1rem;
		max-width: 100%;
		
	}
}