.context-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2rem;

	&__scale-up {
		width: 3rem;
		height: 3rem;
		margin: 0 0 0 1.2rem;
	}

	&__scale-up-img {
		width: 100%;
		&:hover {
			transform: scale(1.4);
		}
	}
}