@import '../../assets/styles/config/colors';

.aside {
	border-top-left-radius: 1rem;	
	border-bottom-left-radius: 1rem;	
	background-color: $bg-cornflowers;
	margin: .4rem 0 .5rem .2rem;
	font-size: 5rem;
}