@import '../../assets/styles/config/colors';

.signin {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
  left: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	background-color: $bg-web;
	opacity: .5;
	z-index: 90;

	&_opacity {
		opacity: .3;
	}

}